@import './base.css';

#app {
  min-height: 100vh;
  padding: 0pxpx 38px 48px;
  font-weight: 500;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary-strong);
}
section{
  padding: 20px;
}
@media (max-width: 640px) {
  #app {
    padding: 0px 18px 36px;
  }
}
